backend/coreMicroservice/core-microservice/agent-global-service/src/main/resources/xsd/AgentShema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="https://github.com/MarkoKatic96/megaTravel/xmlagent"
    xmlns:agent="https://github.com/MarkoKatic96/megaTravel/xmlagent">

    <xs:element name="Agent">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idAgenta">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minExclusive value="-1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="ime">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="60"/>
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="prezime">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="60"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="poslovniMaticniBroj">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:maxExclusive value="1000000000"/>
                            <xs:totalDigits value="13"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="datumClanstva" type="xs:date"/>
                <xs:element name="email" type="agent:TEmail"/>
                <xs:element name="lozinka" type="agent:TLozinka"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Smestaj">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idSmestaja">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minExclusive value="-1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="adresa" type="agent:TAdresa"/>
                <xs:element name="koordinate" type="agent:TKoordinate"/>
                <xs:element name="tipSmestaja" type="agent:TipSmestaja"> </xs:element>
                <xs:element default="no star" form="qualified" name="kategorijaSmestaja"
                    type="agent:TKategorijaSmestaja"> </xs:element>
                <xs:element name="opis">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="500"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="maxOsoba">
                    <xs:simpleType>
                        <xs:restriction base="xs:positiveInteger">
                            <xs:minExclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="maxDanaZaOtkazivanje">
                    <xs:simpleType>
                        <xs:restriction base="xs:nonNegativeInteger">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="cenaProlece">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:minInclusive value="0"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="cenaLeto">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:minInclusive value="0"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="cenaJesen">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:minInclusive value="0"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="cenaZima">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:minInclusive value="0"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="vlasnik">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:pattern value="[\-+]?[0-9]+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="listaDodatnihUsluga">
                    <xs:simpleType>
                        <xs:list itemType="agent:DodatneUsluge"/>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="1" name="listaSlika">
                    <xs:complexType>
                        <xs:sequence maxOccurs="unbounded" minOccurs="1">
                            <xs:element maxOccurs="1" name="slika" type="agent:TImage">
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Rezervacija">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="rezervacijaId">
                    <xs:simpleType>
                        <xs:restriction base="xs:long"/>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="smestajId">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:pattern value="[\-+]?[0-9]+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="korisnikId">
                    <xs:simpleType>
                        <xs:restriction base="xs:long"/>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="od" type="xs:dateTime"/>
                <xs:element name="do" type="xs:dateTime"/>
                <xs:element default="false" name="potvrdjenaRezervacija">
                    <xs:simpleType>
                        <xs:restriction base="xs:boolean"/>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="timestamp" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PotvrdaRezervacije">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" name="rezervacijaId">
                    <xs:simpleType>
                        <xs:restriction base="xs:long"/>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="statusRezervacije">
                    <xs:simpleType>
                        <xs:restriction base="xs:boolean"/>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="timestamp" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Samostalna_rezervacija">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="samostalnaRezervacijaId">
                    <xs:simpleType>
                        <xs:restriction base="xs:long"/>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="smestajId">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:pattern value="[\-+]?[0-9]+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="od" type="xs:dateTime"/>
                <xs:element name="do" type="xs:dateTime"/>
                <xs:element name="timestamp" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="TAdresa">
        <xs:sequence>
            <xs:element name="grad">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ulica">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="broj">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minExclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TKoordinate">
        <xs:sequence>
            <xs:element name="latitude">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:maxInclusive value="90"/>
                        <xs:minInclusive value="-90"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="longitude">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:maxInclusive value="180"/>
                        <xs:minInclusive value="-180"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TImage">
        <xs:sequence>
            <xs:element name="idImage">
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="idSmestaja" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="bytes" type="xs:base64Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TipSmestaja">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HOTELSKA_SOBA"/>
            <xs:enumeration value="APARTMAN"/>
            <xs:enumeration value="BED_AND_BREAKFAST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DodatneUsluge">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Parking"/>
            <xs:enumeration value="WiFi"/>
            <xs:enumeration value="Dorucak"/>
            <xs:enumeration value="Polupansion"/>
            <xs:enumeration value="Pansion"/>
            <xs:enumeration value="AllIncluded"/>
            <xs:enumeration value="DozvoljeniKucniLjubimci"/>
            <xs:enumeration value="TV"/>
            <xs:enumeration value="MiniKuhinjaIliKuhinja"/>
            <xs:enumeration value="PrivatnoKupatilo"/>
            <xs:enumeration value="BesplatnoOtkazivanje"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TKategorijaSmestaja">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1 star"/>
            <xs:enumeration value="2 star"/>
            <xs:enumeration value="3 star"/>
            <xs:enumeration value="4 star"/>
            <xs:enumeration value="5 star"/>
            <xs:enumeration value="no star"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TEmail">
        <xs:restriction base="xs:string">
            <xs:pattern value="\w+[\w\-\.]*\@megatravel\.com"/>
            <xs:whiteSpace value="replace"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TLozinka">
        <xs:restriction base="xs:string">
            <xs:pattern value="\w{5,60}"/>
            <xs:minLength value="5"/>
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
